<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"
        >
      <div class="row"  style="padding:20px;margin:20px ;background-color: #7c9192;
      text-align: center;height: 40%">
        <div class="col-md-12" >
          <img
            [src]="retrievedImage"
            alt="Login Image"
            height="100px"
            style="border-radius: 50%"
          />
          <!-- <i style="font-size: 45px;border: 4px solid black;border-radius: 70%;padding: 8px"  class="fa fa-car-crash"></i> -->
          <br>  <h4> <i class="fas fa-user-tie"></i> <b> Ahmed Merzouqi</b></h4>
          <h6> <i class="fa  fa-suitcase"></i> <b> Assistant administratif</b></h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5 style="text-align: center;padding: 10px"> <i class="fa fa-history"></i> My Actions and History</h5>
          <p-card  >Bla Bla Bla</p-card>
          <br>
          <p-card  >Bla Bla Bla</p-card>
          <br>
          <p-card  >Bla Bla Bla</p-card>
          <br>


        </div>
      </div>
    </div>
    <div class="col-md-8">
      <p-card  >
        <mat-toolbar>
          <mat-toolbar-row>
    <span class="span" id="span"> <i class="fas fa-user-edit   "></i>
 Modifier mon profil </span>

          </mat-toolbar-row>
        </mat-toolbar>
        <form class="normal-form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="controles-container">
                  <mat-form-field>
                    <input matInput placeholder="Adresse FR*">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Téléphone" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="email" >
                  </mat-form-field>


                </div>
              </div>
              <div class="col-md-6">
                <div class="controles-container">

                  <mat-form-field>
                    <input matInput placeholder="Adresse AR*"  >
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Situation Familiale</mat-label>
                    <mat-select >
                      <mat-option value="Marie">Marié</mat-option>
                      <mat-option value="Celebataire">Célébataire</mat-option>
                      <mat-option value="Divorce">Divorcé</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput placeholder="Nombre Enfants"  >
                  </mat-form-field>


                  <div class="button-row">
                    <button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" > <i
                      class="fas fa-check-circle"></i> Changer les modifications</button>
                  </div>
                </div>
              </div>

            </div>
            </div>
        </form>

      </p-card>

      <hr>
      <p-card  >
        <mat-toolbar>
          <mat-toolbar-row>
    <span class="span" > <i class="fas fa-user-shield   "></i>
 Gestion des utilisateurs </span>

          </mat-toolbar-row>
        </mat-toolbar>
        <form class="normal-form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="controles-container">

                  <mat-form-field>
                    <input matInput type="text" required placeholder="UserName ou Nom Complet " >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput  type="email" required placeholder="email" >
                  </mat-form-field>


                </div>
              </div>
              <div class="col-md-6">
                <div class="controles-container">

                  <mat-form-field>
                    <input matInput type="password" required placeholder="Mot de passe"  >
                  </mat-form-field>


                  <div class="button-row">
                    <button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" > <i
                      class="fas fa-check-circle"></i> Ajoute un utilisateur</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>

      </p-card>
      <br>
      <br>
    </div>
  </div>

</div>
