<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-md-12">
      <p-table #dt [columns]="cols" [value]="client" dataKey="cin" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
          Liste des clients
          <div style="text-align: right">
            <button class="btn"style="background-color: white;color: black;float: left"
                    matTooltip="Ce button permet de ajouter un client" (click)="ajouterUnClient()"
            ><i class="fa fa-file-pdf" ></i>   Ajouter Un <strong>Client</strong> </button>
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter"
                   (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td><button class="btn btn-info btn-sm fa fa-trash" ></button>
              <button class="btn btn-danger btn-sm fa fa-edit" ></button>
              <button class="btn btn-primary btn-sm fa fa-info" (click)="InfoClient(rowData)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
