<mat-toolbar  style="cursor: pointer;">
  <mat-toolbar-row>
    <span class="span" style="text-align: center"> <i class="fas fa-search"></i> Chercher les fournisseur d'un employé a partir du <strong>Numéro</strong>  </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="card" style="background-color: #343a40; color: wheat; text-align: center" id="checherFormation">
  <div class="card-body">
    <mat-form-field  style="width: 500px">
      <mat-label style="text-align: center"> <i class="fas fa-calendar-check"></i> Sélectionnez le type de recherche: </mat-label>
      <mat-select [(ngModel)]="fournisseurSearch.CODE_CLI" [ngModelOptions]="{standalone: true}">
        <mat-option value="nom">nom</mat-option>
        <mat-option value="categorie">categorie</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field style="width: 500px" id="NumeroAdministrativePermanence">
      <input matInput  placeholder="saisir le motif de recherche" [(ngModel)]="fournisseurSearch.ENTREPRISE_CLI" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <button class="btn btn-light fa fa-search" style="width: 500px" (click)="chercher()"> chercher</button>
  </div>
</div>
<mat-toolbar style="margin-top: 15px">
  <mat-toolbar-row>
    <span class="span" style="margin-left: 40%">  liste des fournisseurs  </span>
    <button mat-raised-button class="btn"   (click)="ajouterfournisseur()" style="background-color: white;color: black;margin-left: 500px"> ajouter un fournisseur</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="card" style="background-color: #343a40">
  <div class="card-body">
    <table class="table table-hover table-dark table-striped table-bordered " style="color: wheat;">
      <thead>
      <th>Nom d'Entreprise</th>
      <th>categorie</th>
      <th>adresse</th>
      <th>Numero Tele</th>
      <th>Email</th>
      <th>code fournisseur</th>
      <th style="padding-left: 40px">Action</th>
      </thead>
      <tbody *ngFor="let c of fournisseur">
      <tr>
        <td>{{c.NOM_FRS}}</td>
        <td>{{c.CATEGORIE_FRS}}</td>
        <td>{{c.ADR_FRS}}</td>
        <td>{{c.NUMTEL_FRS}}</td>
        <td>{{c.EMAIL_FRS}}</td>
        <td>{{c.CODE_FRS}}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm fa fa-plus " matTooltip="Ce button permet de modifier cet element"></button>
          <button style="margin-left: 10px" class="btn btn-danger btn-sm fa fa-trash" matTooltip="Ce button permet de supprimer cet element"></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
