<button mat-raised-button color="warn" mat-dialog-close style="float: right;" matTooltip="Fermer le dialog"> <i
  class="fas fa-window-close"></i></button>
<p-tabView>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="fas fa-info"></i> Informations Personnels</ng-template
    >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <img
            [src]="retrievedImage"
            alt="Image de l employe"
            style="
              width: 130px;
              border: 2px solid black;
              border-radius: 50%;
              padding: 5px;
            "
          />
        </div>
      </div>
      <div class="row" style="text-align: center">
        <div class="col-md-6">
          <h5>code client :{{clientInfo.generatedcode}}</h5>
        </div>
        <div class="col-md-6">
          <h5>Nom FR: {{clientInfo.nomFR}}</h5>
        </div>
        <div class="col-md-6">
          <h5>Nom AR: {{clientInfo.nomAR}}</h5>
        </div>
        <div class="col-md-6">
          <h5>Prenom FR:{{clientInfo.prenomFR}}</h5>
        </div>
        <div class="col-md-6">
          <h5>Prenom AR:{{clientInfo.prenomAR}}</h5>
        </div>
        <div class="col-md-6">
          <h5>Adresse FR:{{clientInfo.addresseFR}}</h5>
        </div>
        <div class="col-md-6">
          <h5>Adresse AR:{{clientInfo.adresseAR}}</h5>
        </div>
        <div class="col-md-6">
          <h5>cin : {{clientInfo.cin}}</h5>
        </div>
        <div class="col-md-6">
          <h5>Sexe : {{clientInfo.gender}}</h5>
        </div>
        <div class="col-md-6">
          <h5>date de naissance :{{clientInfo.dateNaissance}}</h5>
        </div>
        <div class="col-md-6">
          <h5>date de inscription :{{clientInfo.dateInscription}}</h5>
        </div>
        <div class="col-md-6">
          <h5>email :{{clientInfo.email}}</h5>
        </div>
        <div class="col-md-6">
          <h5>telephone :{{clientInfo.telephone}}</h5>
        </div>
        <div class="col-md-6">
          <h5>profession :{{clientInfo.profession}}</h5>
        </div>
        <div class="col-md-6">
          <h5>niveau d'etude :{{clientInfo.niveauEtude}}</h5>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="fas fa-car"></i> A propos de Permis</ng-template
    >
 <mat-toolbar>
      <mat-toolbar-row>
        <span class="span" >
          <i class="fas fa-car"></i> A propos de Permis
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
<br>
    <div class="container">
      <div class="row" style="text-align: center">
        <div class="col-md-6">
          <h5>permis demandé : {{clientInfo.permisDemande}}</h5>
        </div>
        <div class="col-md-6">
          <h5>moniteur pratique :{{clientInfo.moniteurPratique}}</h5>
        </div>
        <div class="col-md-6">
          <h5>moniteur theorique : {{clientInfo.moniteurTheorique}}</h5>
        </div>
        <div class="col-md-6">
          <h5>Vehicule :{{clientInfo.vehicule}}</h5>
        </div>
        <div class="col-md-6">
          <h5>la langue d'exam : {{clientInfo.langueExam}}</h5>
        </div>
        <div class="col-md-6">
          <h5>numero de session :{{clientInfo.numeroDeSession}}</h5>
        </div>
        <div class="col-md-6">
          <h5>status condidat : {{clientInfo.statusCondidat}}</h5>
        </div>
        <div class="col-md-6" *ngIf="clientInfo.dateExamen != null">
          <h5>date d'exam :{{clientInfo.dateExamen}}</h5>
        </div>
      </div>
    </div>
    <br/>
    <hr/>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="span" >
          <i class="fas fa-book"></i> Date d exam
        </span>
      </mat-toolbar-row>
    </mat-toolbar><br>
    <form class="normal-form">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="controles-container">
              <mat-form-field style="width: 100%">
                <input matInput [matDatepicker]="picker" placeholder="Date De Exam"[(ngModel)]="clientInfo.dateExamen" [ngModelOptions]="{standalone: true}"
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="controles-container">
              <div class="button-row">
                <button
                  mat-raised-button
                  color="primary"
                  style="background-color: #3f8032"
                  class="btn-block" (click)="modifierClient()"
                >
                  <i class="fas fa-check-circle"></i> Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="fas fa-money-check-alt"></i> A propos de paiment</ng-template>
 <mat-toolbar>
      <mat-toolbar-row>
        <span class="span" >
          <i class="fas fa-money-check"></i> Detailles sur le paiment
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
<br>
    <div class="row">
      <div class="col-md-6">
        <h4> montant Total: {{clientInfo.prixTotal}}</h4>
      </div>
      <div class="col-md-6">
        <h4>montant Restantes: {{clientInfo.prixRestantes}}</h4>
      </div>
    </div>
    <br>
    <hr>
    <div class="container-fluid" style="padding-top: 10px;">
      <div class="row">
        <div class="col-md-12">
          <p-table #dt [columns]="cols1" [value]="paimentsClient" dataKey="cin" [paginator]="true" [rows]="5">
            <ng-template pTemplate="caption">
              Liste des paiment de employé {{clientInfo.nomFR}}  {{'  '+clientInfo.prenomFR}}
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <br/>
    <hr/>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="span" >
          <i class="fas fa-plus"></i> Ajouter un paiment d un client
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <form class="normal-form"> <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="controles-container">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="montant payé *" [(ngModel)]="paimentClientAjout.montantpaye" [ngModelOptions]="{standalone: true}" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="controles-container">
              <mat-form-field style="width: 100%">
                <input matInput [matDatepicker]="picker24" placeholder="Date De paiment" [(ngModel)]="paimentClientAjout.date" [ngModelOptions]="{standalone: true}"
                >
                <mat-datepicker-toggle matSuffix [for]="picker24"></mat-datepicker-toggle>
                <mat-datepicker #picker24></mat-datepicker>
              </mat-form-field>
              <div class="button-row">
                <button
                  mat-raised-button
                  color="primary"
                  style="background-color: #3f8032"
                  class="btn-block"
               (click)="ajouterPaimentClient()" >
                  <i class="fas fa-check-circle"></i> Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="fas fa-clock"></i> A propos sur les heures de conduites</ng-template>
 <mat-toolbar>
      <mat-toolbar-row>
        <span class="span" >
          <i class="fas fa-clock"></i> A propos des heures de conduites
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
<br>
    <div class="row">
      <div class="col-md-6">
        <h4> Total des heures de conduites: {{clientInfo.totalHeureConduite}}</h4>
      </div>
     </div>
    <br>
    <hr>
    <div class="container-fluid" style="padding-top: 10px;">
      <div class="row">
        <div class="col-md-12">
          <p-table #dt [columns]="cols" [value]="heureConduites" dataKey="cin" [paginator]="true" [rows]="5">
            <ng-template pTemplate="caption">
              Liste des heures de conduite de employé {{clientInfo.nomFR}}  {{'  '+clientInfo.prenomFR}}
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <br/>
    <hr/>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="span" id="span">
          <i class="fas fa-clock"></i> Gestion des heures de conduite
        </span>
      </mat-toolbar-row>
    </mat-toolbar><br>
    <form class="normal-form">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="controles-container">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="durée de conduite(min) *" [(ngModel)]="heureConduiteAjout.duree" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="controles-container">
              <mat-form-field style="width: 100%">
                <input matInput [matDatepicker]="picker25" placeholder="Date De conduite" [(ngModel)]="heureConduiteAjout.date" [ngModelOptions]="{standalone: true}"
                >
                <mat-datepicker-toggle matSuffix [for]="picker25"></mat-datepicker-toggle>
                <mat-datepicker #picker25></mat-datepicker>
              </mat-form-field>
              <div class="button-row">
                <button
                  mat-raised-button
                  color="primary"
                  style="background-color: #3f8032"
                  class="btn-block"
                (click)="ajouterHeureConduite()">
                  <i class="fas fa-check-circle"></i> Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-tabPanel>
</p-tabView>
<div class="row">
  <div class="col-md-3"><button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" (click)="imprimerInformationSurledemandeur()">
    <i class="fas fa-check-circle"></i> imprimer Information Sur le demandeur
  </button></div>
  <div class="col-md-3"><button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" (click)="imprimerAttestationdeformation()">
    <i class="fas fa-check-circle"></i> imprimer Attestation de formation
  </button></div>
  <div class="col-md-3"><button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" (click)="imprimercertificatMedicalAptitud()">
    <i class="fas fa-check-circle"></i> imprimer certificat Medical Aptitud
  </button></div>
  <div class="col-md-3"><button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" (click)="imprimerContrat()">
    <i class="fas fa-check-circle"></i> imprimer Contrat
  </button></div>
</div>

