<div class="container">
  <div class="row">
    <div class="col-md-2" style=" box-shadow: 0px 13px 90px -7px #848d97;
    background-color: cadetblue;color: black;text-align:center;padding: 15px;">
     
          <div class="row">
            <h6> <i class="fas fa-users "></i> Nombre de client</h6>
            <br/>
            <hr/>
            <h5>13</h5>
          </div>
        

  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-2">
    
  </div>
  </div>
</div>