<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <p-card header="Statstique 1" [style]="{width: '260px'}">
        <div>Bla Bla Bla </div>
      </p-card>
    </div>
    <div class="col-md-4">
      <p-card header="Statstique 2" [style]="{width: '260px'}">
        <div>Bla Bla Bla </div>
      </p-card>
    </div>
    <div class="col-md-4">
      <p-card header="Statstique 3" [style]="{width: '260px'}">
        <div>Bla Bla Bla </div>
      </p-card>
    </div></div>
    <br>
    <div class="row">
    <div class="col-md-5">
      <h6 style="text-align: center"> <i class="fa fa-users"></i> Nouveaux client par Mois</h6>
      <p-chart type="bar" [data]="dataClient"></p-chart>
    </div>
    <div class="col-md-7">
      <h6 style="text-align: center"> <i class="fa fa-arrow-alt-circle-up"></i> Les Gains ,
        <i class="fa fa-arrow-alt-circle-down"></i> Les depenses par Mois</h6>
      <p-chart type="line" [data]="dataDepenseGain" ></p-chart>

    </div></div>
  <div class="row">
    <div class="col-md-5">
      <h6 style="text-align: center"> <i class="fa fa-car"></i> Client par Type de permis</h6>
      <p-chart type="doughnut" [data]="dataParPermis"></p-chart>

    </div>
    <div class="col-md-7">


    </div></div>

</div>
