<button mat-raised-button color="warn" mat-dialog-close style="float: right;" matTooltip="Fermer le dialog"> <i
  class="fas fa-window-close " style="font-size"></i> </button>
<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-md-12">
      <mat-horizontal-stepper labelPosition="bottom" #stepper  >
        <mat-step>
          <ng-template matStepLabel>Information Personnel</ng-template>
          <mat-toolbar>
            <mat-toolbar-row>
              <span class="span"> <i class="fas fa-plus-circle" aria-hidden="true"></i> Ajouter un nouveau client</span>
            </mat-toolbar-row>
          </mat-toolbar>
            <form class="normal-form">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="controles-container">
                      <div class="row">
                        <div class="col-md-4">
                          <button class="ui-fileupload" style=" width: 120px;border: none; background-color: #0062cc; color: white; ">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <label for="file" class="label-file" id="titreFile" style="color: white;margin-bottom: 0px">Choisir</label>
                            <input id="file" class="input-file" type="file" (change)="onFileChanged($event)">
                          </button>
                        </div>
                        <div class="col-md-8"><label id="lebel1">
                          pas de fichier selectionné!
                        </label></div>
                      </div>
                      <br>
                      <mat-form-field>
                        <input matInput placeholder="code client*" [(ngModel)]="clientAjout.generatedcode" [ngModelOptions]="{standalone: true}" [value]="clientAjout.generatedcode">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="prenom FR*" [(ngModel)]="clientAjout.prenomFR" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="nom FR*" [(ngModel)]="clientAjout.nomFR" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Adresse FR*" [(ngModel)]="clientAjout.addresseFR" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Cin *" [(ngModel)]="clientAjout.cin" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Téléphone" [(ngModel)]="clientAjout.telephone" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="email" [(ngModel)]="clientAjout.email" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <!-- Doti = "FSTG+CIN" -->
                      <!-- <mat-form-field>
                        <input matInput placeholder="DoTi" [(ngModel)]="employe.doti" [ngModelOptions]="{standalone: true}">

                      </mat-form-field> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="controles-container">
                      <mat-form-field>
                        <input matInput placeholder="prenom AR*" [(ngModel)]="clientAjout.prenomAR" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="nom AR*" [(ngModel)]="clientAjout.nomAR" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Adresse AR*" [(ngModel)]="clientAjout.adresseAR" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <!--
                      <mat-form-field>
                        <input matInput placeholder="RIB de Bank " [(ngModel)]="employe.compteBancaireRib" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>-->
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Date De naissance"[(ngModel)]="clientAjout.dateNaissance" [ngModelOptions]="{standalone: true}"
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <!-- <mat-form-field> -->
                      <!-- <mat-label *ngIf="employe.departement" >Superieur : {{employe.departement.chef.fullname}}</mat-label> -->
                      <!-- <mat-select [(ngModel)]="employe.sup" [ngModelOptions]="{standalone: true}">
                          <mat-option>None</mat-option>
                          <mat-option value="ana">Ana</mat-option>
                          <mat-option value="howa">Howa</mat-option>
                        </mat-select>
                      </mat-form-field> -->
                      <mat-form-field>
                        <mat-select placeholder="select a profession" [(ngModel)]="clientAjout.profession" [ngModelOptions]="{standalone: true}">
                          <mat-select-filter [array]="variables" (filteredReturn)="filteredList1 =$event" ></mat-select-filter>
                          <mat-option *ngFor="let item of filteredList1" [value]="item">
                            {{item}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field *ngIf="show()">
                        <input matInput placeholder="profession*" [(ngModel)]="clientAjout.profession" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                      <div class="add-bottom-padding">
                        <mat-label>Sexe : </mat-label>
                        <mat-radio-group [(ngModel)]="clientAjout.gender" [ngModelOptions]="{standalone: true}">
                          <mat-radio-button value="Homme">Homme</mat-radio-button>
                          <mat-radio-button value="Femme">Femme</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          <div style="float: right;">
            <button class="btn-secondary" mat-button matStepperPrevious>Retour</button>
            <button class="btn-secondary" mat-button matStepperNext>Suivant</button>
          </div>
        </mat-step>
        <mat-step>
        <ng-template matStepLabel>Information de permis</ng-template>
        <mat-toolbar>
          <mat-toolbar-row>
            <span class="span"> <i class="fas fa-plus-circle" aria-hidden="true"></i> Ajouter un nouveau client</span>
          </mat-toolbar-row>
        </mat-toolbar>
          <form class="normal-form">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="controles-container">
                    <mat-form-field>
                      <input matInput placeholder="Langue Exam*" [(ngModel)]="clientAjout.langueExam" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Moniteur Theorique*" [(ngModel)]="clientAjout.moniteurTheorique" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Moniteur Pratique*" [(ngModel)]="clientAjout.moniteurPratique" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="vehicule *" [(ngModel)]="clientAjout.vehicule" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker12" placeholder="Date De inscription"[(ngModel)]="clientAjout.dateInscription" [ngModelOptions]="{standalone: true}">
                      <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                      <mat-datepicker #picker12></mat-datepicker>
                    </mat-form-field>
                    <!-- Doti = "FSTG+CIN" -->
                    <!-- <mat-form-field>
                      <input matInput placeholder="DoTi" [(ngModel)]="employe.doti" [ngModelOptions]="{standalone: true}">

                    </mat-form-field> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="controles-container">
                    <mat-form-field>
                      <mat-select placeholder="select a type de Permis" [(ngModel)]="clientAjout.permisDemande" [ngModelOptions]="{standalone: true}">
                        <mat-select-filter [array]="variables1" (filteredReturn)="filteredList2 =$event" ></mat-select-filter>
                        <mat-option *ngFor="let item of filteredList2" [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="add-bottom-padding">
                      <mat-label>Avez vous un Permis? : </mat-label>
                      <mat-radio-group [(ngModel)]="clientAjout.possedePermis" [ngModelOptions]="{standalone: true}" (change)="showNumeroPermis()">
                        <mat-radio-button [value]=true>oui</mat-radio-button>
                        <mat-radio-button [value]=false>non</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <mat-form-field id="numero">
                      <input matInput placeholder="permis Numero*" [(ngModel)]="clientAjout.premisNumero" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="montant Total*" [(ngModel)]="clientAjout.prixTotal" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" style="background-color: #3f8032" class="btn-block" (click)="ajouterUnclient()"> <i class="fas fa-check-square"></i> Ajouter</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div style="float: right;">
            <button class="btn-secondary" mat-button matStepperPrevious>Retour</button>
            <button class="btn-secondary" mat-button (click)="stepper.reset()">Annuler</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
