<div class="container-fluid images">
  <div class="row">
    <div class="col-md-7 fs" style="margin-top:80px;text-align: center;">
      <h2>FSTG MARRAKECH</h2>
      <h6>The best faculty ever</h6>
      <img id="im" src="assets/images/login2.svg" width="590px" />
    </div>
    <div class="col-md-5 cc" style="padding: 40px;margin-top: 80px;margin-bottom: 90px; text-align: center; ">
      <span class="hh">
        <h2>FSTG MARRAKECH</h2>
        <h6>The best faculty ever</h6>
      </span>
      <div class="card bg-secondary text-white" style=" box-shadow: 0px 13px 90px -7px #343a40; border-radius: 10px;">
        <div class="card-header" style="text-align: center;">
          <h5><i class="fas fa-user-circle" style="font-size: 60px;"></i><br>Authentification</h5>
        </div>
        <div class="card-body">
          <div class="alert alert-danger alert-dismissible" *ngIf="showErrors" role="alert">
            <strong>Oups !!</strong> Email ou password Incorrect
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail"><i class="	fas fa-user-tie"></i> Email</label>
              <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email@email.com"
           >
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"><i class="fa fa-lock"></i> Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
            >
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-outline btn-block  bouton" click="">Submit</button>
          <hr>
          <a [routerLink]="['/forgetPassword']" routerLinkActive="active"  class="lien" style="color: white;"><span style="text-align: center;display:block"><i
                class="	fas fa-key"></i> I Forget my password ?</span></a>
        </div>
      </div>

    </div>

  </div>

</div>
