<div class="container-fluid images">
  <div class="row">
    <div class="col-md-7 fs" style="margin-top:80px;text-align: center;">
      <h2>FSTG MARRAKECH</h2>
      <h6>The best faculty ever</h6>
      <img id="im" src="assets/images/login2.svg" width="590px" />
    </div>
    <div class="col-md-5 cc" style="padding: 40px;margin-top: 80px;margin-bottom: 90px; text-align: center; ">
      <span class="hh">
        <h2>FSTG MARRAKECH</h2>
        <h6>The best faculty ever</h6>
      </span>
      <div class="card bg-secondary text-white" style=" box-shadow: 0px 13px 90px -7px #343a40; border-radius: 10px;">
        <div class="card-header" style="text-align: center;">
          <h5><i class="fas fa-user-circle" style="font-size: 60px;"></i><br>Forget My Password</h5>
        </div>
        <div class="card-body">

          <form>
            <div class="form-group">
              <label for="exampleInputEmail"><i class="	fas fa-user-tie"></i> Email</label>
              <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email@email.com" required >
            </div>
            <div class="form-group">
              <label ><i class="fas fa-shield-alt"></i> * Code de Verification</label>
              <input type="number" class="form-control"  placeholder="123456" required >
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"><i class="fa fa-lock"></i> Nouveau Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required
                >
            </div>
            <div class="form-group">
              <label ><i class="fa fa-lock"></i> Confirmation du Nouveau Password</label>
              <input type="password" class="form-control"  placeholder="Password" required
              >
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-outline btn-block  bouton"  >Submit</button>
          <hr>
<p>* : le code de verification c est votre code de carte d identite ou code d emploi .</p>
        </div>
      </div>

    </div>

  </div>

</div>
