<mat-tab-group mat-stretch-tabs  style="width: 100%;" (selectedIndexChange)="demo1BtnClick(tabindex)" [(selectedIndex)]="demo1TabIndex">
  <mat-tab label="LISTE DES DEPENSES" style="width: 25px" tabindex="1">
    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="span"> <i class="fas fa-arrow-down   "></i> Liste des déspenses </span>
        </mat-toolbar-row>
      </mat-toolbar>

<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-md-12">
      <p-table #dt [columns]="cols" [value]="listesDesDepenses" dataKey="cin" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">


          <div class="container-fluid"style="text-align: center">
            <div class="row">
              <div class="col-md-7">
                <button class="btn btn-add"style="background-color: white;color: black;float: left"
                        matTooltip="Ce button permet d'ajouter un dépense" (click)="ajouterUnDespences()"
                ><i class="fa fa-plus-circle" ></i>  Ajouter Une <strong>Dépense</strong> </button>
              </div>
              <div class="col-md-2">   <button class="btn" mat-raised-button
                                               matTooltip="Ce button permet d'afficher les dépenses de l'année précedante"
                                               (click)="findyearAvant()"
              > <i class="fa fa-calendar-week"></i>   Année <strong>Avant</strong> </button>
              </div>
              <div class="col-md-1">{{year}}</div>
              <div class="col-md-2"> <button class="btn" mat-raised-button
                                             matTooltip="Ce button permet d'afficher les dépenses de l'année prochaine" (click)="findYearApres()"
              > <i class="fa fa-calendar-week"></i>  Année <strong>Après</strong> </button></div>
            </div>
            <br>
            <div class="row" >
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6">
                    <i class="pi pi-search" ></i>
                    <input type="text" pInputText size="40" placeholder="Chercher ..."
                           (input)="dt.filterGlobal($event.target.value, 'contains')"
                    >
                  </div>
                  <div class="col-md-6">
                    <mat-form-field >

                      <input matInput [matDatepicker]="picker" placeholder="Date"[(ngModel)]="date" [ngModelOptions]="{standalone: true}" (ngModelChange)="chercherParDate()">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                </div>

              </div>
              <div class="col-md-2">   <button class="btn" mat-raised-button
                                               matTooltip="Ce button permet d'afficher les dépenses du mois précedante"
                                               (click)="findMoisAvant()"
              > <i class="fa fa-calendar-week"></i>   Mois <strong>Avant</strong> </button>
              </div>
              <div class="col-md-1"> {{mois}} </div>
              <div class="col-md-2"> <button class="btn" mat-raised-button
                                             matTooltip="Ce button permet d'afficher les dépenses de du mois prochain" (click)="findMoisApres()"
              > <i class="fa fa-calendar-week"></i>  Mois <strong>Après</strong> </button></div>
            </div>  </div>

        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData  let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td><button class="btn btn-info btn-sm fa fa-trash" ></button>
              <button class="btn btn-danger btn-sm fa fa-edit" ></button>
              <button class="btn btn-primary btn-sm fa fa-info" ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
    </div>
  </mat-tab>
  <mat-tab label="LISTE DES GAINS " style="width: 25px" tabindex="2">
    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
      <mat-toolbar>
        <mat-toolbar-row>

          <span class="span"> <i class="fas fa-arrow-up   "></i> Listes des Gains </span>

        </mat-toolbar-row>
      </mat-toolbar>
      <app-listes-des-gains></app-listes-des-gains>
    </div>
  </mat-tab>
</mat-tab-group>
