<mat-tab-group  style="width: 100%;" (selectedIndexChange)="demo1BtnClick(tabindex)" [(selectedIndex)]="demo1TabIndex">
  <mat-tab label="listes des despenses" style="width: 25px" tabindex="1">
    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="span"> <i class="fas fa-file-pdf    "></i>Listes des despenses </span>
        </mat-toolbar-row>
      </mat-toolbar>
<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-md-12">
      <p-table #dt [columns]="cols" [value]="listesDesDepenses" dataKey="cin" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
          Liste des despenses
          <div style="text-align: right">
            <mat-form-field style="margin-right: 150px">
              <input matInput [matDatepicker]="picker" placeholder="Date"[(ngModel)]="date" [ngModelOptions]="{standalone: true}" (ngModelChange)="chercherParDate()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button class="btn"style="background-color: white;color: black;float: left"
                    matTooltip="Ce button permet de ajouter un employe" (click)="ajouterUnDespences()"
            >   Ajouter Une <strong>Despences</strong> </button>
            <button class="btn"style="background-color: white;color: black;float: left"
                    matTooltip="Ce button permet de ajouter un employe" (click)="findMoisAvant()"
            >   Mois <strong>Avant</strong> </button>
            <button class="btn"style="background-color: white;color: black;float: left"
                    matTooltip="Ce button permet de ajouter un employe" (click)="findMoisApres()"
            >   Mois <strong>Apres</strong> </button>
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter"
                   (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData  let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td><button class="btn btn-info btn-sm fa fa-trash" ></button>
              <button class="btn btn-danger btn-sm fa fa-edit" ></button>
              <button class="btn btn-primary btn-sm fa fa-info" ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
    </div>
  </mat-tab>
  <mat-tab label="listes des Gains" style="width: 25px" tabindex="2">
    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="span">Listes des gains </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <app-listes-des-gains></app-listes-des-gains>
    </div>
  </mat-tab>
</mat-tab-group>
