<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p-card>
        <mat-toolbar>
          <mat-toolbar-row>
    <span class="span" id="span"> <i class="fas fa-lock  "></i>
 Changer mon mot de passe </span>

          </mat-toolbar-row>
        </mat-toolbar>
        <form class="normal-form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="controles-container">

                  <mat-form-field>
                    <input matInput type="password" placeholder="Mot de passe Actuel*" /></mat-form-field>
                  <mat-form-field>
                    <input matInput type="password" placeholder="Nouveau mot de passe*" >
                  </mat-form-field>


                </div>
              </div>
              <div class="col-md-6">
                <div class="controles-container">
                  <mat-form-field>
                    <input matInput type="password" placeholder="Confirmation de mot de passe*" >
                  </mat-form-field>


                  <div class="button-row">
                    <button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" > <i
                      class="fas fa-check-circle"></i> Changer les modifications</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="overflow: scroll;
    height: 500px;margin: 10px;    overflow-x: hidden;">
      <h2  style="text-align: center;padding: 10px">Historique de L'application</h2>
      <hr>
   <div *ngFor="let h of historiqueList " >
      <p-card  > <b>Date :</b>  {{h.date | date: 'dd, MMMM yyyy, hh:mm:ss a' }}
        | <b>Action :</b>  {{h.description}}</p-card>
      <br>
   </div>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>
