<mat-sidenav-container class="example-container" class="side-barr">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 265px;padding:10px; ">
    <mat-list role="list">

      <h6 style="color: red;padding-top: 10px;padding-bottom: 40px;padding-left: 17px;">Logo + Societe Name </h6>
      <mat-list-item [routerLink]="[{ outlets: { un: ['overview'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-user-circle"></i> liste des reserevations</h6>
      </mat-list-item>
      <mat-list-item [routerLink]="[{ outlets: { un: ['personnel'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-tachometer-alt"></i> liste des fournisseurs</h6>
      </mat-list-item>

      <mat-list-item [routerLink]="[{ outlets: { un: ['abscence'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-bed"></i> liste des clients</h6>
      </mat-list-item>
      <!-- <br><br><br><br><br> -->
      <mat-list-item class="list1" role="listitem">
        <h6><i class="fas fa-sign-out-alt"></i> Se Deconnecter</h6>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="navbar navbar-light box-shadow">
      <button mat-mini-fab (click)="sidenav.toggle()"><i class="fas fa-bars" style="font-size:25px;"></i></button>
      <form class="form-inline my-lg-0">
        <mat-icon class="icons" matBadge="15" matBadgeColor="warn" style="cursor: pointer;" matTooltip="Notifications">
          <i class="fas fa-bell" style="color: rgb(128, 128, 128);"></i>
        </mat-icon>
        <button class="icons" mat-raised-button matTooltip="This is your profile"><i class="fas fa-user-circle"></i>
          Profile</button>
        <button class="icons" mat-raised-button><i class="fas fa-cog"></i> Settings</button>

      </form>
    </nav>

    <router-outlet name="un"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
